---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro'
import Footer from '../components/footer.astro';
import Tabla from '../components/tabla.astro';

---
<Layout title="Carrito"  >
    <Nav />  
    <div class="div">
        <h3>Servicios</h3>
        <Tabla  />
    </div>
    
</Layout>

<style>
     .boton-container {
    display: flex;
    justify-content: center;
  }

  .boton-container button {
    background-color: #007bff; 
    color: white; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    margin: 5px; 
    cursor: pointer;
  }

  .boton-container button:hover {
    background-color: #0056b3; 
  }
    .div{        
        display: flex;   
        text-align: center;
        flex-direction: column;    
        padding: 10px;       
    }
   
</style>
  
  
  

