<footer>
    <h3>Calle Santa Ana Matagalpa-Nicargaua</h3>          
</footer>


<style>
    footer { 
		background: linear-gradient(rgba(var(--accent-dark), 100%), rgba(var(--accent-dark), 100%));
    width: 100%;    
    position: fixed;
    bottom: 0;  
    text-align: center;
    font-size: 15px;
    
}

</style>