<h1>Pets <span class="text-gradient">Store</span></h1>
<div class="Nav">   	  
    <a href="/">Tienda</a>
    <a href="/carrito">Carrito</a>    
</div>

<style>
    h1 {
		font-size: 3rem;
		font-weight: 700;		
		text-align: center;	
        color: #ffffff;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
    .Nav{	
        width: 100%;	
		text-align: center;
        
	}
	.Nav a{
		
		color: 808080;	
        padding: 20px;
		text-decoration: none;	
        transition: color 0.3s;
	}
    .Nav a:hover{
        color: #808080;
    }
</style>